# R package requirements for Posit Connect Cloud
# This file helps Posit Connect install the necessary packages

shiny
dplyr
tidyr
ggplot2
readr
purrr
tibble
stringr
forcats
lubridate
readxl
scales
plotly
ggrepel
bs4Dash
bslib
DT
